In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import username, password
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employee_db')
conn = engine.connect()

In [ ]:
data = engine.execute("SELECT * FROM salaries")
for record in data:
    print(record)

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries_reduced = salaries[["emp_no", "salary"]]
salaries_reduced = salaries_reduced[["salary"]]
salaries_reduced.head()

In [ ]:
range_counts = []
range1= salaries_reduced.loc[(salaries_reduced["salary"] >= 31000) & (salaries_reduced["salary"] < 45999)]
range_counts.append(range1.count())
range2= salaries_reduced.loc[(salaries_reduced["salary"] >= 45999) & (salaries_reduced["salary"] < 61000)]
range_counts.append(range2.count())
range3= salaries_reduced.loc[(salaries_reduced["salary"] >= 61000) & (salaries_reduced["salary"] < 75999)]
range_counts.append(range3.count())
range4= salaries_reduced.loc[(salaries_reduced["salary"] >= 75999) & (salaries_reduced["salary"] < 91000)]
range_counts.append(range4.count())
range5= salaries_reduced.loc[(salaries_reduced["salary"] >= 91000) & (salaries_reduced["salary"] < 105999)]
range_counts.append(range5.count())
range6= salaries_reduced.loc[(salaries_reduced["salary"] >= 105999) & (salaries_reduced["salary"] < 121000)]
range_counts.append(range6.count())
range7= salaries_reduced.loc[(salaries_reduced["salary"] >= 121000) & (salaries_reduced["salary"] < 135999)]
range_counts.append(range7.count())
print(range_counts)

In [ ]:
#y = range_counts
bins = [31000, 46000, 61000, 76000, 91000, 106000, 121000, 136000]
plt.hist(range_counts, histtype='bar', alpha=0.5)
plt.grid()
plt.title("Salary Range Frequency Distribution", fontsize=14)
plt.xlabel("Salary Ranges", fontsize=14)
plt.ylabel("Count/Frequency of Salary in Range", fontsize=14)
plt.tight_layout()
plt.show

In [ ]:
dept_emp = pd.read_sql("SELECT * FROM dept_emp", conn)
dept_emp.head()

In [ ]:
employees = pd.read_sql("SELECT * FROM employees", conn)
employees.head()

In [ ]:
dept_manager = pd.read_sql("SELECT * FROM dept_manager", conn)
dept_manager.head()

In [ ]:
titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

In [ ]:
titles_reduced = titles[["emp_no", "title"]]
titles_reduced.head()

In [ ]:
#Avg salary by title
avg_sal_title = pd.merge(salaries_reduced, titles_reduced, on='emp_no', how='inner')
avg_sal_title = avg_sal_title[["salary", "title"]]
avg_sal_title.head(10)

In [ ]:
title_salary = avg_sal_title.groupby("title", as_index=False).mean()
title_salary.head()
new_title_salary = title_salary.rename(columns={"title": "Title", "salary": "Avg. Salary"})
new_title_salary

In [ ]:
x_axis = new_title_salary["Title"]
y_axis = new_title_salary["Avg. Salary"]
plt.bar(x_axis, y_axis, color=["darkblue", "yellowgreen", "gray", "cyan", "magenta", "lightblue", "tomato"], align="center")
plt.xticks(rotation=45)
plt.title("Average Salary by Job Title", fontsize=14)
plt.xlabel("Job Titles", fontsize=13)
plt.ylabel("Avg. Salary", fontsize=14)
plt.ylim(30000, 60000)
plt.grid()
plt.tight_layout()
plt.savefig("images/avg_sal_by_title.png")
plt.show

In [ ]:
departments = pd.read_sql("SELECT * FROM departments", conn)
departments.head()